@charset 'UTF-8';
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html
{
    font-size: 62.5%;


}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;

    letter-spacing: .1em;

    color: #4c4c4c;
    background-color: #fdfcf6;
    margin-top:0;

}
	#container {
		width:70.2%;
		background:#fff;
		margin:0 auto;
		padding:15px;
	}
	header {
		overflow:hidden;
	}
	#logo {
		float:left;
	    margin-top:0;
	}
	#mainmenu {
		float:right;
		clear:both;
	}
	#logo-right {
		float:right;
		margin-right:30px;
	}

	main {
		float:left;
		width:66.6%;
		text-align:center;
	}
	#sub {
		float:right;
		width:31.2%;
	}
	.clearfix::after {
		content:"";
		display:block;
		clear:both;
	}
	#mainmenu ul>li {
		float:left;
		margin-right:25px;
	}

img {
    max-width: 100%;
    height: auto;
}
a
{
    text-decoration: none;

    color: #14c0c9;
}
a:visited
{
    color: #0f949b;
}
a:hover
{
    color: #0f949b;
}
a:active
{
    color: #16d6e0;
}
a:hover
{
    text-decoration: underline;
}


/* Align
------------------------------------------------------------*/
.text-center
{
    text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center,
section .container,
#skills i
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

/* Font
------------------------------------------------------------*/
.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    font-family: 'Abel', sans-serif;
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    text-transform: uppercase;
}

/* Contents
------------------------------------------------------------*/
section
{
   // padding: 60px 0;
}
section .container
{
    width: 95%;
}
section h2
{
    font-size: 32px;
    font-size: 3.2rem;
}

#skills
{
    background-color: F9F8F6;
    margin-top:15px;
}
#skills .container
{
    display: -webkit-flex;
    display:         flex;

    justify-content: space-between;
    flex-flow:wrap;
}
/*#skills h2
{
    margin-bottom: 60px;

    color: #fdfcf6;
}*/
#skills .skill-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 32%;
    padding: 10px;
    margin-bottom:15px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fdfcf6;
}
#skills img
{

       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 150px;
    height:150px;
    margin-bottom: 5px;
    margin-top:5px;


    text-align: center;

    /*-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px; */
}
#skills img.mt {
	margin-top:-15px;
}

/*#skills h3
{
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 10px;

    color: #14c0c9;
}
*/

#guide {
		overflow:hidden;
		margin-bottom:60px;
        }
.guide_box {
	float:left;
	width:48%;
	height:240px;
	background-color: #fdfcf6;
	margin-left:5px;
	margin-right:5px;
}
.guide_box h4 {
	font-size:16px;
	font-weight:bold;
}	

.guide_box h4, .gb {
	text-align:left;
	padding:10px;
}

#back-to-top {
	overflow:hidden;
}
.rgt {
	float:right;
}

/* Footer
------------------------------------------------------------*/
footer
{
    border-top:0.7px dotted #000;
    padding: 30px 0;
    margin-top:80px;

    text-align: center;

    color: #000;
    background-color:#fff;
}
footer ul {
	overflow:hidden;
	margin:15px 200px;
}
footer li {
	float:left;
	margin-right:15px;
}
	
	
/* SP用
------------------------------------------------------------*/

@media (max-width:768px) {

#container {
	//width:16.4%;
	font-size:16px;
}


main, #sub {
	width:100%;
	float:none;
}
#skills .skill-box {
    width:50%;
}
.guide_box {
    width:100%;
    float: none;
}
footer ul {
	margin:15px 0;
	
}
footer li {
	float:none;
}

}
